/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: faceIn ease-in 0.2s;
    display: none;
    z-index: 10;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    position: relative;
    border-radius: 6px;
}

.auth-form {
    float: left;
    width: 100%;
    padding: 32px;    
}

.auth-form__heding {
   text-align: center;
   color: #bc7f0e;
}

.auth-form__form {
    width: 100%;
}

.auth-form__input {
    float: left;
    width: 100%;
    padding: 16px;
    color: #bc7f0e;
}

.auth-form__input p {
    padding: 8px 0;
    color: #bc7f0e
}

.auth-form__input input {
    padding: 8px;
    float: left;
    width: 100%;
    border-radius: 3px;
    border: 2px solid #cea251;
}

.btn-login {
    float: left;
    width: 100%;
    padding:  32px 16px;
}
.btn-login button {
    padding: 8px;
    float: left;
    width: 100%;
    background-color: #c28d2c;
    cursor: pointer;
    border-radius: 5px;
}

.btn-close {
   text-align: center;
}

.btn-close button {
    padding: 4px 8px;
    background-color: #e31e28;
    border-radius: 10px;
    cursor: pointer;
}

.btn-login button:hover
 {
    color: #fff;
    opacity: 0.6;
}

.btn-close button:hover {
    opacity: 0.8;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* CHATBOX */
#chatbox-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c77f1b;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    font-size: 24px;
}

#chatbox-button:hover {
    background-color: #e57e09;
}

#chatbox-button i {
    font-size: 24px;
    line-height: 50px;
}

#chatbox {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 32px;
    width: 350px;
    height: 400px;
    background-color: #c77f1b;
    color: #fff;
    cursor: pointer;
    z-index: 11;
    border-radius: 5px;
    display: none;
}

.chatbox .close {
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 4px;
    border-radius: 5px;
    color: red;
    background-color: #ccc;
}

.chatbox #chatbox-messages {
    height: 70%;
    overflow-y: scroll;
    padding: 10px;
}
  
.chatbox #chatbox-form {
    height: 20%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
  
.chatbox #chatbox-input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
  
.chatbox #chatbox-submit {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}